{
  "name": "postg-connector-pre",
  "config": {
    "connector.class": "io.confluent.connect.jdbc.JdbcSourceConnector",
    "tasks.max": 1,
    "connection.url": "jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}",
    "connection.user": "${POSTGRES_USER}",
    "connection.password": "${POSTGRES_PASSWORD}",
    "mode": "bulk",
    "table.whitelist": "public.postg_pre",
    "topic.prefix": "postgres-",
    "validate.non.null": "false",
    "poll.interval.ms": 5000
  }
}